---
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakTemplateDeclarations: 'Yes'
ReflowComments: 'false'
SortIncludes: 'false'

...
